.body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.dashboard-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: navy;
}
nav ul{
    display: flex;
    gap:25px;
    margin: 0;
}
nav li{
    cursor: pointer;
    color: #333;
}
nav li:hover{
    color: dodgerblue;
}
.dashboard-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 40px;
}
.left-section {
   max-width: 50%;
}
.left-section h1{
    font-size: medium;
    margin-bottom: 10px;
    color: navy;
}
.dashboard{
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    min-height: 100hv;
}
.dashboard h1{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    margin:10px 10px;
    border:none;
    border-radius: 8px;
    background:  blue;
    color:aliceblue;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    background:blue;
    transform:scale(1.05);
}
.btn{
    background: red;
}
.btn:hover{
    background: red;
}
.table-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:30px;
}
.table-card{
    background-color: #e3f2fd;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0 , 0, 0, 0.1);
    text-align: center;
}
.table-card h3{
    margin-bottom:10px ;
    color:#333;
}
.table-list p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dashboard-main{
    margin:10px;
}
.left-section{
    margin-block: 30px;
}